In [1]:
import pandas as pd
import numpy as np

In [2]:
#reading files
data = pd.read_csv('C:/Users/User/OneDrive/Desktop/Self Test/Car/Data/datacar.csv')
print(data)

      year  selling_price  km_driven    fuel seller_type transmission  \
0     2014         450000     145500  Diesel  Individual       Manual
1     2014         370000     120000  Diesel  Individual       Manual
2     2006         158000     140000  Petrol  Individual       Manual
3     2010         225000     127000  Diesel  Individual       Manual
4     2007         130000     120000  Petrol  Individual       Manual
...    ...            ...        ...     ...         ...          ...
8123  2013         320000     110000  Petrol  Individual       Manual
8124  2007         135000     119000  Diesel  Individual       Manual
8125  2009         382000     120000  Diesel  Individual       Manual
8126  2013         290000      25000  Diesel  Individual       Manual
8127  2013         290000      25000  Diesel  Individual       Manual

                     owner  mileage(km/ltr/kg)  engine max_power  seats
0              First Owner               23.40  1248.0        74    5.0
1             Second Owner               21.14  1498.0    103.52    5.0
2              Third Owner               17.70  1497.0        78    5.0
3              First Owner               23.00  1396.0        90    5.0
4              First Owner               16.10  1298.0      88.2    5.0
...                    ...                 ...     ...       ...    ...
8123           First Owner               18.50  1197.0     82.85    5.0
8124  Fourth & Above Owner               16.80  1493.0       110    5.0
8125           First Owner               19.30  1248.0      73.9    5.0
8126           First Owner               23.57  1396.0        70    5.0
8127           First Owner               23.57  1396.0        70    5.0

[8128 rows x 11 columns]

In [3]:
print(data.dtypes)

year                    int64
selling_price           int64
km_driven               int64
fuel                   object
seller_type            object
transmission           object
owner                  object
mileage(km/ltr/kg)    float64
engine                float64
max_power              object
seats                 float64
dtype: object

In [4]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   year                8128 non-null   int64
 1   selling_price       8128 non-null   int64
 2   km_driven           8128 non-null   int64
 3   fuel                8128 non-null   object
 4   seller_type         8128 non-null   object
 5   transmission        8128 non-null   object
 6   owner               8128 non-null   object
 7   mileage(km/ltr/kg)  7907 non-null   float64
 8   engine              7907 non-null   float64
 9   max_power           7913 non-null   object
 10  seats               7907 non-null   float64
dtypes: float64(3), int64(3), object(5)
memory usage: 698.6+ KB
None

In [5]:
print(data.describe())

              year  selling_price     km_driven  mileage(km/ltr/kg)  \
count  8128.000000   8.128000e+03  8.128000e+03         7907.000000
mean   2013.804011   6.382718e+05  6.981951e+04           19.418783
std       4.044249   8.062534e+05  5.655055e+04            4.037145
min    1983.000000   2.999900e+04  1.000000e+00            0.000000
25%    2011.000000   2.549990e+05  3.500000e+04           16.780000
50%    2015.000000   4.500000e+05  6.000000e+04           19.300000
75%    2017.000000   6.750000e+05  9.800000e+04           22.320000
max    2020.000000   1.000000e+07  2.360457e+06           42.000000

            engine        seats
count  7907.000000  7907.000000
mean   1458.625016     5.416719
std     503.916303     0.959588
min     624.000000     2.000000
25%    1197.000000     5.000000
50%    1248.000000     5.000000
75%    1582.000000     5.000000
max    3604.000000    14.000000

In [6]:
print(data.isnull().sum())

year                    0
selling_price           0
km_driven               0
fuel                    0
seller_type             0
transmission            0
owner                   0
mileage(km/ltr/kg)    221
engine                221
max_power             215
seats                 221
dtype: int64

In [7]:
#separating categorical and numerical features
data_cat = data.select_dtypes(include=['object']).columns
print(data_cat)

Index(['fuel', 'seller_type', 'transmission', 'owner', 'max_power'], dtype='object')

In [8]:
data_num = data.select_dtypes(exclude=['object']).columns
print(data_num)

Index(['year', 'selling_price', 'km_driven', 'mileage(km/ltr/kg)', 'engine',
       'seats'],
      dtype='object')