In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import  LabelEncoder

In [2]:
#readin the dataset 
data = pd.read_csv('../data/datacar.csv')
print(data.head())

   year  selling_price  km_driven  ...  engine max_power seats
0  2014         450000     145500  ...  1248.0        74   5.0
1  2014         370000     120000  ...  1498.0    103.52   5.0
2  2006         158000     140000  ...  1497.0        78   5.0
3  2010         225000     127000  ...  1396.0        90   5.0
4  2007         130000     120000  ...  1298.0      88.2   5.0

[5 rows x 11 columns]

In [3]:
print(data.dtypes)

year                    int64
selling_price           int64
km_driven               int64
fuel                   object
seller_type            object
transmission           object
owner                  object
mileage(km/ltr/kg)    float64
engine                float64
max_power              object
seats                 float64
dtype: object

In [ ]:
#changing the name and datatypes of the columns
data.rename(columns={'mileage(km/ltr/kg)': 'mileage'}, inplace=True)

In [12]:
data['max_power'] = pd.to_numeric(data['max_power'], errors= 'coerce')

In [13]:
print(data.dtypes)

year               int64
selling_price      int64
km_driven          int64
fuel              object
seller_type       object
transmission      object
owner             object
mileage          float64
engine           float64
max_power        float64
seats            float64
max_poweer       float64
dtype: object

In [14]:
print(data.isnull().sum())

year               0
selling_price      0
km_driven          0
fuel               0
seller_type        0
transmission       0
owner              0
mileage          221
engine           221
max_power        216
seats            221
max_poweer       216
dtype: int64

In [17]:
#separating categorical and numerical features
data_cat = data.select_dtypes(include=['object']).columns
data_num = data.select_dtypes(exclude=['object']).columns
print("Categorical features: ", data_cat)
print("Numerical features: ", data_num)

Categorical features:  Index(['fuel', 'seller_type', 'transmission', 'owner'], dtype='object')
Numerical features:  Index(['year', 'selling_price', 'km_driven', 'mileage', 'engine', 'max_power',
       'seats', 'max_poweer'],
      dtype='object')

In [21]:
miss_col = {'mileage', 'engine', 'max_power', 'seats'}
#Filling missing values with mean for numerical columns
for col in miss_col:
     data[col].fillna(data[col].mean(), inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_4752\667672741.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[col].fillna(data[col].mean(), inplace=True)

In [22]:
print(data.isnull().sum())

year               0
selling_price      0
km_driven          0
fuel               0
seller_type        0
transmission       0
owner              0
mileage            0
engine             0
max_power          0
seats              0
max_poweer       216
dtype: int64

In [25]:
data.drop(columns=['max_poweer'], inplace=True)

In [26]:
print(data.isnull().sum())

year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
mileage          0
engine           0
max_power        0
seats            0
dtype: int64

In [28]:
for cat in data_cat:
    le = LabelEncoder()
    data[cat] = le.fit_transform(data[cat])

In [29]:
print(data.dtypes)

year               int64
selling_price      int64
km_driven          int64
fuel               int32
seller_type        int32
transmission       int32
owner              int32
mileage          float64
engine           float64
max_power        float64
seats            float64
dtype: object

In [30]:
data.to_csv('../data/datacar_cleaned.csv', index=False)

# Done